.cart-items-title{
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  columns: grey;
  font-size: max(1vw, 12px);
}

.cart hr{
  height: 1px;
  background-color: #e2e2e2;
  border: none;
}
.cart-bottom{
  gap: max(12vw, 20px);
}
.cart-total button{
  width: max(15vw, 200px);
}
.cart-promocode-input button{
  width: max(10vw, 150px);
}