.footer-content{
  grid-template-columns: 2fr 1fr 1fr;
}

.footer-content-left,.footer-content-center,.footer-content-right{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.footer-content-left li,.footer-content-center li,.footer-content-right li{
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
}
.footer-content-right h2,.footer-content-center h2{
  color: white;
}

@media (max-width:750px) {
  .footer-content{
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .footer-copyright{
    text-align: center;
  }
}

